.input-container {
	flex: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* min-height: 100vh; */
}

.input-wrapper {
	max-width: 75vw;
	min-width: 640px;
	margin: 0 auto;
	display: flex; /*keeps everything separated*/
	padding: 12px; /*gives more air*/
	border-radius: 16px; /*gives rounder bubble look*/
	background-color: black; /*darker background to stick out from the dark background*/
}

.input-textarea {
	flex: 1;
	width: 50vw;
	resize: none; /*user should not be able to resize*/
	border: none; /*border is unneccesary with the wrapper*/
	background: transparent; /*unneccesary*/
	font-size: 16px;
	outline: none; /*unneccesary*/
	line-height: 2;
}

.input-send-button {
	margin-left: 12px;
	padding: 8px 16px;
	background-color: black;
	font-size: 14px;
	border: none;
	border-radius: 8px; /*rounder look for the button*/
	cursor: pointer;
	transition: background 0.2s ease; /*transition to and from hover, looks nice*/
}

.input-send-button:disabled {
	opacity: 0.4;
	cursor: default; /*make clear that button cant be clicked*/ 
}

.input-send-button:not(:disabled):hover {
	background-color: #333;
}
