.recipe-container { /* Inneholder bilde, tittel og recipe-wrapper */ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex:5;

    height: 100%;
    
    padding-inline: 2%;
    padding-block: 2%;

    overflow-y: scroll;
}


.recipe-title {
    /* flex:1; */
    text-align: center;
    margin-block: 20px;
    padding: 10px;

    font-size: xxx-large;

    border-block: 2px solid white;
}


.image-wrapper {
    flex: 2;
    display: flex;
    position: relative;
    background: #48b3a1;
    
    overflow: hidden;
    border-radius: 6px;
    min-height: 20%;
    
    /* margin: 1%; */
}

.recipe-wrapper { /* Inneholder left og right */
    flex: 8;
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 255, 255, 0.096);
    border-radius: 6px;


}
    
.left {
    flex: 2;
    /* background-color:rgba(255, 255, 255, 0.096); */
    padding: 30px;
    /* margin: 1%; */
    /* border-radius: 6px; */
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* align-content: space-between; */

}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 1%;
    /* background-color:rgba(255, 255, 255, 0.096); */
    /* padding: 1%; */
}

.info {
    flex: 1;
    text-align: center;
    border-inline: 1px solid white;
}
    
.right {
    flex: 1;
    display: flex;
    /* background-color: azure; */
    margin: 1%;
    /* border-radius: 6px; */
    /* overflow: hidden; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */


}
.ingredients-container {
    padding: 1%;
}

.video {
    border-radius: 6px;
    /* height: 100%; */
    /* width: 100%; */
}

b {
    font-weight:bolder;
}

.list {
    list-style-position: inside;
    list-style-type: circle;
    /* margin: 10px; */
    /* padding: 10px; */
}

.tip-container {
    display: flex;
    flex-direction: row;
    margin-block: 2%;
    padding: 1%;
    background-color:rgba(255, 255, 255, 0.096);
    align-items: center;
    border-radius: 10px;

}

.tip-div {
    flex: 3;
    margin-inline-start: 3%;
    min-width: 67%;
}

.other-tip-div {
    flex: 2;
    /* margin-inline-start: 2%; */
}

.tip-list {
    flex: 1;
    list-style-position: inside;
    list-style-type: circle;
    /* padding-inline: 1%; */
}

.big-tip-div {
    flex: 1;
    display: flex;
    flex-direction: row;

}

/* h2 {
    padding-bottom: 3px;
} */

h3 {
    padding-block: 5px;
}